@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@500;700&display=swap");
@import url("reset.css");

body {
  margin: 0;
  font-family: "Work Sans", sans-serif;
  color: white;
  text-align: center;
  background: black;
}

.text {
  margin-top: 0.2em;
  font-weight: 500;
  font-size: 1.4em;
}

#app {
  display: grid;
  align-items: center;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas:
    "title"
    "city"
    "country"
    "getCountry"
    "feelings"
    "getWeather"
    "entry"
}

/* page heading */
.title {
  grid-area: title;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0.6em 0 0.4em 0;
}

/* this is for the city data entry field */
#city {
  grid-area: city;
  margin-top: 0.2em;
  margin-bottom: 0.6em;
  width: 70%;
  font-size: 1.4em;
  height: 1.6em;
  border-radius: 5px;
  font-family: "Work Sans", sans-serif;
  text-align: center;
  border: none;
  opacity: 0.5;
}

/* this is for the country code data entry field */
#countryCode {
  grid-area: country;
  margin-top: 0.1em;
  margin-bottom: 0.6em;
  width: 70%;
  font-size: 1.4em;
  height: 1.6em;
  border-radius: 5px;
  font-family: "Work Sans", sans-serif;
  text-align: center;
  border: none;
  opacity: 0.5;
}

#getCountry {
  grid-area: getCountry;
  background-color: black;
  position: relative;
  width: 50%;
  margin: 1em 0 2em 25%;
  padding: 5px 0;
  border-radius: 20px;
  color: white;
  font-size: 1.2em;
  text-transform: uppercase;
  cursor: pointer;
  vertical-align: center;
}

#getCountry:hover {
  background-color: white;
  opacity: 0.5;
  color: black;
}

textarea {
  grid-area: feelings;
  width: 90%;
  font-size: 1.4em;
  padding-top: 20px;
  padding-bottom: 10px;
  border-radius: 5px;
  font-family: "Work Sans", sans-serif;
  text-align: center;
  vertical-align: center;
  border: none;
  opacity: 0.5;
}

.generate {
  grid-area: getWeather;
  background-color: black;
  position: relative;
  width: 50%;
  margin: 1em 0 1em 25%;
  padding: 10px 0;
  border-radius: 20px;
  color: white;
  font-size: 1.2em;
  text-transform: uppercase;
  cursor: pointer;
}

.generate:hover {
  background-color: white;
  opacity: 0.5;
  color: black;
}

.entry {
 grid-area: entry;
}

/* placeholder text */
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: black;
  opacity: 1;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: black;
  opacity: 1;
}

img {
  position: fixed;
  top: 0;
  left: 0;
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}



#temp,
#content,
#weatherDescr,
#cityCountry,
#date {
  margin: 0.1em 0 0.2em 0;
  font-family: "Caveat", cursive;
  font-size: 2em;
  font-weight: 500;
}

@media (min-width: 700px) {
  .title {
    font-size: 3em;
  }

  #temp,
  #content,
  #weatherDescr,
  #cityCountry,
  #date {
    margin: 0.2em 0 0.4em 0;
    font-family: "Caveat", cursive;
    font-size: 3em;
    font-weight: 500;
  }
} ;
