@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@500;700&display=swap");
@import url("reset.css");
@import url("buttons.css");
@import url("data-entry.css");

body {
  margin: 0;
  font-family: "Work Sans", sans-serif;
  color: white;
  text-align: center;
  background: black;
}

.text {
  margin-top: 0.2em;
  font-weight: 500;
  font-size: 1.6em;
}

#app {
  display: grid;
  align-items: center;
  align-content: center;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas:
    "title"
    "city"
    "country"
    "getCountry"
    "feelings"
    "getWeather"
    "entry"
    "getMore";
}

/* page heading */
.title {
  grid-area: title;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 700;
  margin: 2em 0 0.6em 0;
}

#entryHolder {
  grid-area: entry;
  margin: 0 1em;
}

/* background image */
img {
  position: fixed;
  top: 0;
  left: 0;
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

#temp,
#content,
#weatherDescr,
#cityCountry,
#date {
  margin: 0.2em 0 0.3em 0;
  font-family: "Caveat", cursive;
  font-size: 2.4em;
  font-weight: 500;
}

@media (min-width: 700px) {
  .title {
    font-size: 3em;
  }

  #temp,
  #content,
  #weatherDescr,
  #cityCountry,
  #date {
    margin: 0.2em 0 0.4em 0;
    font-family: "Caveat", cursive;
    font-size: 3.2em;
    font-weight: 500;
  }

};
